.Header{
    background: #f4f4f4;
    padding: 1rem;
    text-align: center;
}
.MainSection{
    margin: auto;
    max-width: 500px;
    overflow: auto;
    padding: 3rem 2rem;
}
.PostForm{
    padding: 2rem;
    background: #f4f4f4;

}